{% extends 'base.html.twig' %}

{% block body %}
    <div class="row align-items-center justify-content-center">

        <h1>Page not found "Error 403"</h1>
    </div>
    <div class="row align-items-center justify-content-center">
        <p>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
        </p>
    </div>
{% endblock %}
