{% extends 'base.html.twig' %}

{% block body %}
    <div class="col text-center justify-content-center align-self-center">
        <h1>Wellcome to OMS JetPoint</h1>
        <h3>Water Cutting OMS /Order Management System / </h3>
    </div>
    {#    <div class="container">#}
    {#        <div class="row justify-content-center align-items-center">#}
    {#            <h1>Wellcome to OMS JetPoint</h1>#}

    {#        </div>#}
    {#        <div class="row justify-content-center align-items-center">#}
    {#            <h3>Water Cutting OMS /Order Management System / </h3>#}
    {#        </div>#}
    {{ dump( app.user.roles) }}
    {#    </div>#}
{% endblock %}
